// ===============================
// OLD UA BANNER TO BE REMOVED
// ===============================

.ua-redbar-v1 {
    .redbar {
        background: $red;
        position: relative;
        border: 0;
        a {
            color: white;
            font-family: MiloWeb, Verdana, Geneva, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }
        .navbar-header {
            min-height: 59px;
        }
        ul {
            padding: 0;
        }
    }
    .navbar-nav {
        margin: 7.5px -15px;
        li:first-child {
            background: 0 0;
        }
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
        &:hover {
            background: $red60b;
            text-decoration: none;
            background-color: $chili;
        }
        &:focus {
            text-decoration: none;
            background-color: $chili;
        }
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 12px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        .icon-bar {
            background-color: white;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
        }
        &:focus {
            outline: 0;
        }
        .icon-bar+.icon-bar {
            margin-top: 4px;
        }
    }
    .redbar-brand p {
        text-indent: -9999em;
        width: 253px;
        height: 16px;
        margin: 20px 0 0;
        padding: 0;
        background: linear-gradient(transparent,transparent),url('img/ua-wordmark.svg') no-repeat;
        background-size: 100%;
    }
}

@media (max-width: $screen-sm-max) {
    .ua-redbar-v1 {
        .navbar-nav {
            li {
                background: 0 0;
                padding-left: 0;
            }
            .open {
                .dropdown-menu {
                    position: static;
                    float: none;
                    width: auto;
                    margin-top: 0;
                    background-color: transparent;
                    border: 0;
                    box-shadow: none;
                    .dropdown-header {
                        padding: 5px 15px 5px 25px;
                    }
                }
                .dropdown-menu>li>a {
                    padding: 5px 15px 5px 25px;
                    line-height: 20px;
                    &:focus {
                        background-image: none;
                    }
                    &:hover {
                        background-image: none;
                    }
                }
            }
        }
        .redbar-brand p {
            margin: 20px 0 0 10px;
        }
    }
}
@media(max-width:360px) {
    .ua-redbar-v1 .redbar-brand p {
        background-size: 70%;
        margin: 23px 0 0 10px;
    }
}

// ===============================
// Callouts
// ===============================
.callout {
    padding: 24px;
    padding: 1.5rem;
    margin-top: 24px;
    margin-top: 1.5rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    border: 1px solid #eef1f1;
    border-left-width: 4px;
    border-left-width: .25rem;
    border-radius: $border-radius-small;
}

.callout-dark {
    background-color: $cool-gray !important;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 4px;
    margin-bottom: .25rem;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout code {
    border-radius: 4px;
    border-radius: .25rem;
}

.callout + .callout {
    margin-top: -4px;
    margin-top: -.25rem;
}

.callout-warning {
    border-left-color: $sand !important;
}

.callout-warning h4 {
    color: $sand;
}

.callout-danger h4 {
    color: $mesa;
}

.callout-info h4 {
    color: $sky;
}

.callout-red {
    border-left-color: $red !important;
}

.callout-blue {
    border-left-color: $blue !important;
}

.callout-bloom {
    border-left-color: $bloom !important;
}

.callout-chili {
    border-left-color: $chili !important;
}

.callout-sky,
.callout-info {
    border-left-color: $sky !important;
}

.callout-midnight {
    border-left-color: $midnight !important;
}

.callout-oasis {
    border-left-color: $oasis !important;
}

.callout-azurite {
    border-left-color: $azurite !important;
}

.callout-cool-gray,
.callout-cool-grey {
    border-left-color: $cool-gray !important;
}

.callout-warm-gray,
.callout-warm-grey {
    border-left-color: $warm-gray !important;
}

.callout-leaf {
    border-left-color: $leaf !important;
}

.callout-river {
    border-left-color: $river !important;
}

.callout-silver {
    border-left-color: $silver !important;
}

.callout-mesa,
.callout-danger {
    border-left-color: $mesa !important;
}

// ===============================
// THIRD LEVEL CUSTOM SIDENAV
// ===============================

// Stacked and nested pills

.nav-stacked.right,
.nav-stacked-nested.right {
  text-align: right;
  > li {
    > ul {
      > li {
        > a {
          padding-left: 0;
          padding-right: 25px;
        }
        > ul > li {
          > a {
            padding-left: 0;
            padding-right: 35px;
          }
          > ul > li {
            > a {
              padding-left: 0;
              padding-right: 45px;
            }
            > ul > li {
              > a {
                padding-left: 0;
                padding-right: 55px;
              }
              > ul > li {
                > a {
                  padding-left: 0;
                  padding-right: 65px;
                }
                > ul > li {
                  > a {
                    padding-left: 0;
                    padding-right: 75px;
                  }
                  > ul > li {
                    > a {
                      padding-left: 0;
                      padding-right: 85px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.back-to-top {
    margin-top: 10px;
}

// ===============================
// Navigation Nav Tabs Large
// ===============================
.nav-tabs-lg {
    border-bottom: 0;
    li {
        float: none;
        // Make the list-items overlay the bottom border
        margin-bottom: 3px;

        // Actual tabs (as links)
        a {
            margin-right: 3px;
            line-height: $line-height-base;
            color: $azurite;
            background: $cool-gray;
            border: 1px solid $cool-gray;
            border-radius: 0;
            text-transform: uppercase;
            transition: ease-in-out 0s;
            &:hover,
            &:focus {
                background: $blue;
                color: $white;
                border: 1px solid $blue;
                transition: ease-in-out 0s;
            }
        }

        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $component-active-color;
                background-color: $component-active-bg;
                border: 1px solid $component-active-bg;
                border-bottom-color: $component-active-bg;
                cursor: default;
            }
        }
    }
    // pulling this in mainly for less shorthand
    &.nav-justified {
        @extend .nav-justified;
        @extend .nav-tabs-justified;
    }
}

@media (min-width: $screen-md-min) {
    .nav-tabs-lg {
        border-bottom: 1px solid $blue;
        li {
            float: left;
            margin-bottom: 0px;
            a {
                padding: 1.25em 1.75em;
            }
        }
    }
}

// ===============================
// CSS CHANGES FOR MOBILE NAV
// ===============================
.navbar-toggle {
    margin-right: 0px;
    width: 100%;
    background-color: $blue;
    height: 48px;
}

.navbar-default {
    border-top: none;
    border-bottom: none;
    border-color: none;
    border-left: 0;
    border-right: 0;
}

@media (min-width: $screen-md-min) {
    .navbar-default  {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $silver-tint;
    }
}

.navbar-default .navbar-nav > li > a {
    color: $azurite;
    font-weight: 700;
    letter-spacing: .03rem;
    text-transform: normal;
}

@media (min-width: $screen-md-min) {
    .navbar-nav>li>a {
        padding: 1.25rem 1.5rem;
    }
}
.navbar-nav>li>a {
    line-height: 24px;
    font-size: 19px;
    font-size: 1em;
}
.navbar-default .navbar-toggle {
    background-color: $blue;
    border-color: $blue;
}

.navbar-default .navbar-toggle:hover {
    background-color: $azurite;
    border-color: $azurite;
}

.navbar-default .navbar-toggle:active {
    background-color: $azurite;
    border-color: $azurite;
}

.navbar-default .navbar-toggle:focus {
    background-color: $azurite;
    border-color: $azurite;
}

.text {
    color: white;
    font-family: MiloWeb, Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.well-hollow {
    border: 1px solid $river-light;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(182, 190, 193, .2);
}

// DARK TABLES
.table-dark > thead > tr > th {
    background-color: $silver-dark;
    color: #fff;
}

.table-dark tr {
    border: 1px solid $silver-tint;
}

.table-dark.table-striped > tbody > tr:nth-of-type(odd){
    background-color: $silver-tint;
}

.table-hover.table-dark.table-striped > tbody > tr:nth-of-type(odd):hover{
    background-color: $river-light;
}

.table-dark.table-striped > tbody > tr > td {
    border-bottom: none;
}

.table-dark.table-striped > tbody > tr > th {
    border-bottom: none;
}

.table-dark thead a {
    color: white;
}


// ===============================
//  Nested pills
// ===============================

// ===============================
//  HEADER TEXT SIZE
// ===============================

.text-size-h1 {
    letter-spacing: -0.031875em;
    line-height: 0.958em;
}

/* text-size-h1 responsive font sizes */
.text-size-h1 {
  font-size: $font-size-h1-xs;
}
@include media-breakpoint-up(sm) {
  .text-size-h1 {
    font-size: $font-size-h1-sm;
  }
}
@include media-breakpoint-up(lg) {
  .text-size-h1 {
    font-size: $font-size-h1-lg;
  }
}
@include media-breakpoint-up(xl) {
  .text-size-h1 {
    font-size: $font-size-h1;
  }
}

/* text-size-h2 responsive font sizes */
.text-size-h2 {
  font-size: $font-size-h2-xs;
}
@include media-breakpoint-up(sm) {
  .text-size-h2 {
    font-size: $font-size-h2-sm;
  }
}
@include media-breakpoint-up(lg) {
  .text-size-h2 {
    font-size: $font-size-h2-lg;
  }
}
@include media-breakpoint-up(xl) {
  .text-size-h2 {
    font-size: $font-size-h2;
  }
}

/* text-size-h3 responsive font sizes */
.text-size-h3 {
  font-size: $font-size-h3-xs;
}
@include media-breakpoint-up(sm) {
  .text-size-h3 {
    font-size: $font-size-h3;
  }
}

/* text-size-h4 responsive font sizes */
.text-size-h4 {
  font-size: $font-size-h4-xs;
}
@include media-breakpoint-up(sm) {
  .text-size-h4 {
    font-size: $font-size-h4;
  }
}

/* text-size-h5 responsive font sizes */
.text-size-h5 {
  font-size: $font-size-h5;
}

/* text-size-h6 responsive font sizes */
.text-size-h6 {
  font-size: $font-size-h6;
}

// ===============================
//  TEXT & HEADER OPTIONS
// ===============================

.text-white {
    color: $white;
}
.text-bloom {
    color: $bloom;
}
.text-red {
    color: $red;
}
.text-chili {
    color: $chili;
}
.text-sky {
    color: $sky;
}
.text-oasis {
    color: $oasis;
}
.text-azurite {
    color: $azurite;
}
.text-blue {
    color: $blue;
}
.text-midnight {
    color: $midnight;
}
.text-cool-gray {
    color: $cool-gray;
}
.text-warm-gray {
    color: $warm-gray;
}
.text-leaf {
    color: $leaf;
}
.text-river {
    color: $river;
}
.text-mesa {
    color: $mesa;
}
// ** sage - presidential use only
.text-sage {
    color: $sage;
}
.text-silver {
    color: $silver;
}
.text-ash {
    color: $ash;
}
.text-silver-dark {
    color: $silver-dark;
}


// ===============================
//  Deprecated
// ===============================
.text-red30b {
    color: $red30b;
}
.text-blue30w {
    color: $blue30w;
}
.text-blue60b {
    color: $blue60b;
}
.text-cactus {
    color: $cactus;
}
.text-sand {
    color: $sand;
}
.text-brick {
    color: $brick;
}
.blue30w{
    color: $blue30w;
}

.blue60b{
    color: $blue60b;
}


// ===============================
//  Font Family
// ===============================
.sans {
    font-family: $sans-headings-font-family;
    font-weight: $sans-headings-font-weight-medium;
}

// ===============================
//  VERTICAL ALIGNMENT OF TEXT
// ===============================

.margin-zero-top {
    margin-top: 0 !important;
}

.margin-zero-bottom {
    margin-bottom: 0 !important;
}

.margin-align-top {
    margin-top: .25em;
    margin-bottom: 1.75em;
}

.margin-align-middle {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-align-bottom {
    margin-top: 1.75em;
    margin-bottom: .25em;
}

@media (min-width: $screen-sm-min) {
    .margin-zero-top {
        margin-top: 0 !important;
    }

    .margin-zero-bottom {
        margin-bottom: 0 !important;
    }

    .margin-align-top {
        margin-top: .25em;
        margin-bottom: 2em;
    }

    .margin-align-middle {
        margin-top: 1.125em;
        margin-bottom: 1.125em;
    }

    .margin-align-bottom {
        margin-top: 2em;
        margin-bottom: .25em;
    }
}
// ===============================
//  background-colors
// ===============================

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: $white;
}

.bg-silver-tint {
    background-color: $silver-tint;
}

.bg-cochineal-red,
.bg-red {
    background-color: $red;
}

.bg-bloom {
    background-color: $bloom;
}

.bg-chili {
    background-color: $chili;
}

.bg-oasis {
    background-color: $oasis;
}

.bg-azurite {
    background-color: $azurite;
}

.bg-blue {
    background-color: $blue;
}

.bg-midnight {
    background-color: $midnight;
}

.bg-cool-gray {
    background-color: $cool-gray;
}

.bg-warm-gray {
    background-color: $warm-gray;
}

.bg-ash-tint{
    background-color: $ash-tint;
}

.bg-sky {
    background-color: $sky;
}

.bg-leaf {
    background-color: $leaf;
}

.bg-river {
    background-color: $river;
}

.bg-silver {
    background-color: $silver;
}

.bg-mesa {
    background-color: $mesa;
}

.bg-copper {
    background-color: $copper;
}

.bg-ash {
    background-color: $ash;
}

.bg-sage {
    background-color: $sage;
}

.bg-trans-arizona-blue {
    background-color: $blue;
    background-color: rgba(12, 35, 75, .78);
    background-color: hsla(218, 72%, 17%, 0.78);
}
.bg-trans-sky {
    background-color: $sky;
    background-color: rgba(132,210,226,0.6);
}
.bg-trans-white {
    background-color: $white;
    background-color: rgba(255,255,255,0.92);
}

// ===============================
//  border accents
// ===============================
.border-top-accent-azurite {
    border-top: 4px solid $azurite;
}

.border-top-accent-oasis {
    border-top: 4px solid $oasis;
}
// ===============================
//  background-wrappers
// ===============================
.background-wrapper {
    padding: 3rem 0;
}

.bg-trilines {
    background-image: url('img/trilines.svg');
    background-size: auto 305px;
    background-position: top right;
    background-position: top 0 right -1em;
    background-repeat: no-repeat;
}

.bg-trilines {
    p, li, hr {
        background-color: rgba(255, 255, 255, 0.7);
    }
    &.bg-red {
        p, li, hr {
            background-color: rgba(171, 5, 32, 0.7);
        }
    }
    &.bg-blue {
        p, li, hr {
            background-color: rgba(12, 35, 75, 0.7);
        }
    }
    &.bg-sky {
        p, li, hr {
            background-color: rgba(129, 211, 235, 0.7);
        }
    }
    &.bg-oasis {
        p, li, hr {
            background-color: rgba(55, 141, 189, 0.7);
        }
    }
    &.bg-azurite {
        p, li, hr {
            background-color: rgba(30, 82, 136, 0.7);
        }
    }
    &.bg-midnight {
        p, li, hr {
            background-color: rgba(0, 28, 72, 0.7);
        }
    }
    &.bg-bloom {
        p, li, hr {
            background-color: rgba(239, 64, 86, 0.7);
        }
    }
    &.bg-chili {
        p, li, hr {
            background-color: rgba(139, 0 , 21, 0.7);
        }
    }
    &.bg-cool-gray {
        p, li, hr {
            background-color: rgba(226, 233, 235, 0.7);
        }
    }
    &.bg-warm-gray {
        p, li, hr {
            background-color: rgba(244, 237, 229, 0.7);
        }
    }
    &.bg-leaf {
        p, li, hr {
            background-color: rgba(112, 184, 101, 0.7);
        }
    }
    &.bg-river {
        p, li, hr {
            background-color: rgba(0, 125, 132, 0.7);
        }
    }
    &.bg-silver {
        p, li, hr {
            background-color: rgba(158, 171, 174, 0.7);
        }
    }
    &.bg-ash {
        p, li, hr {
            background-color: rgba(64, 54, 53, 0.7);
        }
    }
}

.bg-triangles-fade {
    background-image: url('img/fading-triangles.svg');
    background-repeat: repeat-x;
    background-size: auto 450px;
}

.bg-catalinas-abstract {
    background-image: url('img/catalinas-abstract.svg');
    background-repeat: repeat-x;
    background-size: auto 230px;
}

.bg-triangles-mosaic {
    background-image: url('img/mosaic-triangles.svg');
    background-repeat: repeat;
    background-size: auto 130px;
}

.bg-triangles-translucent {
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.bg-triangles-translucent:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('img/triangles-translucent.svg');
    background-repeat: repeat;
    background-size: auto 80px;
    opacity: 0.15;
}

.bg-triangles-top-left {
    background-image: url('img/triangles-top-left.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-blend-mode: multiply;
    background-position: 0 0;

}
.bg-red.bg-triangles-top-left {
    background-image: url('img/triangles-top-left-red.svg');
    background-blend-mode: initial;
}
.bg-blue.bg-triangles-top-left {
    background-image: url('img/triangles-top-left-blue.svg');
    background-blend-mode: initial;
}
.bg-triangles-top-right {
    background-image: url('img/triangles-top-right.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-blend-mode: multiply;
    background-position: top right;

}
.bg-red.bg-triangles-top-right {
    background-image: url('img/triangles-top-right-red.svg');
    background-blend-mode: initial;
}
.bg-blue.bg-triangles-top-right {
    background-image: url('img/triangles-top-right-blue.svg');
    background-blend-mode: initial;
}
.bg-triangles-centered {
    background-image: url('img/triangles-centered.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-blend-mode: multiply;
    background-position: center bottom;
}
.bg-red.bg-triangles-centered {
    background-image: url('img/triangles-centered-red.svg');
    background-blend-mode: initial;
}
.bg-blue.bg-triangles-centered {
    background-image: url('img/triangles-centered-blue.svg');
    background-blend-mode: initial;
}
.background-image-wrapper div > div {
  opacity: 0;
  visibility: hidden;
}

@media (min-width: $screen-sm-min) {
  .bg-triangles-translucent:after {background-size: auto 153px;}
}
@media (min-width: $screen-sm-min) {
  .bg-triangles-fade {background-size: auto 530px;}
}

@media (min-width: $screen-sm-min) {
  .bg-catalinas-abstract {background-size: auto 300px;}
}

@media (min-width: $screen-sm-min) {
  .bg-triangles-mosaic {background-size: auto 175px;}
}

/*=====================================
BACKGROUND WRAPPER IMAGES
=====================================*/

.background-image-wrapper {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}
.background-image-wrapper div > div {opacity:0;} /*Don't put text over these kinds of background images.*/

@media (min-width: $screen-sm-min) {
  .background-image-wrapper:before {
      content: "";
      float: initial;
      padding-bottom: initial;
  }

  .background-image-wrapper:after {
      content: "";
      display: initial;
      clear: both;
  }
}

// ==============================
// Images
// ===============================
img {
	max-width: 100%;
	height: auto;
}

img.pull-left,
figure.pull-left {
  float: left;
  margin: .25em .5em .5em 0;
}

img.pull-right,
figure.pull-right {
  float: left;
  margin: .25em 0em .5em .5em;
}

// =================================
// Image Gallery Additional Classes
// =================================
.ua-gallery-item {
  position: relative;
  height: 100%;
}
.ua-gallery-carousel-image {
  max-height: 80%;
  max-width: 70% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ua-gallery-caption {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0px;
  z-index: 10;
  padding: 10px;
  background-color: rgba(0,0,0,.65);
}
.ua-gallery-carousel-control {
  background-image: none !important;
  position: absolute;
}
.ua-gallery-close {
  margin-left: 82%;
  top: 5%;
  position: absolute;
  z-index: 10;
}
.modal-bg-dark {
  background: rgba(0,0,0,0.85);
}
@media screen and (max-width: 480px) {
  .ua-gallery-close {
    margin-left: 78%;
    top: 15%;
  }
}
@media screen and (max-width: 600px) {
  .ua-gallery-carousel-control {
    margin-top: 48px !important;
    margin-top: 3rem !important;
  }
}

// ===============================
//  List Group Flush for use in cards
// ===============================

.list-group-flush {
  margin:-1px;
}
// ===============================
//  Utility Links
// ===============================

#utility_links {
  display: block;
  margin: 1rem 0 1.5rem 0;
  background-color: transparent;
  ul {
    display: block;
    padding: 0;
    margin: 0;
    border: 0 none;
    text-align: center;
    li {
      list-style: none;
      display: inline-block;
      padding: 0 0.6rem;
      text-align: center;
      a {
        color: $silver-dark;
        border-bottom: 2px solid transparent;
        font-family: MiloWeb-Text, sans-serif;
        font-size: 1rem;
        font-weight: normal;
        line-height: 2;
        text-decoration: none;
        text-transform: none;
        &:hover {
          text-decoration: none;
          border-bottom: 2px solid $silver-dark;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  #utility_links ul {
    text-align: right;
    li {
      text-align: left;
    }
  }
}

// ===============================
// External Link Icon
// ===============================

html {
  &.external-links {
    [target=_blank]:after, .pseudo-link:after {
      border-bottom: .3125em solid transparent;
      border-left: .3125em solid transparent;
      border-right: .3125em solid #8f1124;
      border-top: .3125em solid #8f1124;
      content: '';
      display: inline-block;
      height: 0;
      position: relative;
      top: 0;
      width: 0;
      right: 0em;
    }
    .btn[target=_blank]:after, .btn.pseudo-link:after {
      width: 1.1em;
    }
    .remove-external-link-icon[target=_blank] {
      &:after {
        border-width: 0;
        display:inherit;
      }
      padding-right: 1em;
    }
  }
  &.ua-brand-icons.external-links {
    [target=_blank], .remove-external-link-icon[target=_blank] .psuedo-link span, .remove-external-link-icon[target=_blank] .pseudo-link span {
      padding-right: 0.8em;
    }
    [target=_blank]:after,
    .remove-external-link-icon[target=_blank] .psuedo-link span:after, .remove-external-link-icon[target=_blank] .pseudo-link span:after {
      content: "\E648";
      font-family: ua-brand-symbols;
      font-size: 0.7em;
      border-width: 0;
    }
    .remove-external-link-icon[target=_blank] {
      padding-right: inherit;
      &:after {
        content: "";
        font-family: inherit;
        display:inherit;
      }
    }
    .btn-group-xs > .btn[target="_blank"] {
      padding-right: 5px;
    }
    .btn-group-sm > .btn[target="_blank"] {
      padding-right: 10px;
    }
    .btn-group-lg > .btn[target="_blank"] {
      padding-right: 16px;
    }
    .btn[target="_blank"] {
      padding-right: 12px;
      &.btn-xs {
        padding-right: 5px;
      }
      &.btn-sm {
        padding-right: 10px;
      }
      &.btn-lg {
        padding-right: 16px;
      }
    }
  }
}

/* Utility class for when you don't want to add the class to the html element*/
span.external,
a.external {
  position: relative;
  display: inline-block;
  padding-right: .6em;
}

span.external:after,
a.external:after {
  border-bottom: 0.3125em solid transparent;
  border-left: 0.3125em solid transparent;
  border-right: 0.3125em solid $red30b;
  border-top: 0.3125em solid $red30b;
  content: '';
  display: inline-block;
  height: 0px;
  position: absolute;
  top: .38em;
  width: 0px;
}

a.external.external-blue:after {
  border-color: $blue $blue transparent transparent;
}

a.external.external-white:after {
  border-color: white white transparent transparent;
}

/* Hide the extra spans when printing. */
@media print {
  html {
    &.external-links {
      [target=_blank]:after, .pseudo-link:after {
        border-width: 0;
      }
    }
    &.ua-brand-icons.external-links {
      [target=_blank]:after, .pseudo-link:after {
        content: "";
        font-family: inherit;
      }
    }
  }
  span.external:after,
  a.external:after {
    border-width: 0;
  }
}

// ===============================
//  Link containers
// ===============================

span.borderless-link-container,
a.borderless-link-container,
span.link-container,
a.link-container {
  color: inherit;
  display: block;
  font-weight: inherit;
}

span.borderless-link-container:hover,
span.borderless-link-container:focus,
a.borderless-link-container:hover,
a.borderless-link-container:focus {
  background-color: inherit;
  text-decoration: none;
  color: inherit;
}

span.borderless-link-container:focus,
a.borderless-link-container:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 5px;
}

span.link-container:hover,
span.link-container:focus,
a.link-container:hover,
a.link-container:focus {
    background-color: hsla(180,10%,94%,1);
    outline: none;
    text-decoration: none;
    color: inherit;
}

.height-100 {
    display: block;
    height: 100%;
}

// ===============================
//  Buttons
// ===============================

.btn-arrow:after {
    content: "\00a0»";
}
.btn-hollow,
.btn-hollow-default {
    @include button-variant($btn-hollow-default-color, $btn-hollow-default-bg, $btn-hollow-default-border, $btn-hollow-default-action-color, white);
}
.btn-hollow-primary {
    @include button-variant($btn-hollow-primary-color, $btn-hollow-primary-bg, $btn-hollow-primary-border, $btn-hollow-primary-action-color, white);
}
.btn-hollow-reverse{
    @include button-variant($btn-hollow-reverse-color, $btn-hollow-reverse-bg, $btn-hollow-reverse-border, white, $silver-dark);
}

// River appears as river
.btn-river {
    @include button-variant($btn-river-color, $btn-river-bg, $btn-river-border, $btn-river-action-color, $btn-river-color);
}


// The UA Brand icon font sets a line height of 1 which doesn't jive with the
// milo line-height of 1.5., also btn-icon links should have an &nbsp; space html
// entity. Which throws the text-center class off by half a character. This
// class does not account for btn-sm or btn-lg
.btn-icon:before {
  line-height: 1.5;
  margin-right: -0.5em;
}

// ===============================
//  Search Box
// ===============================

.search-form {
  position: relative;
  height: 38px;

  .form-control::-webkit-input-placeholder {
    font-size: 40px;
    font-size: 0.75em;
  }
}

.input-search {
  padding-right: 40px;
  padding-right: 2.5em;
}

.input-search.no-submit-btn {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-size: 1.5rem 1.5rem;
  background-position: right top;
  background-position: right 6px top 5px;
  background-image: url('img/search-chili.svg');
}

.btn-search {
  text-indent: -9999em;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-size: 1.5rem 1.5rem;
  background-position: 7px 6px;
  background-position: right 7px top 6px;
  outline: 0;
  position: absolute;
  z-index: 0;
  background-image: url('img/search-chili.svg');
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    opacity: .5;
  }
}

// ===============================
//  DEPRECATED Search Box
// ===============================

#header_site {
  #search {
    float: right;
    .form-item {
      display: inline;
      input {
        border-collapse: collapse;
        width: 13.8rem;
        font-family: MiloWeb, sans-serif;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1em;
        border: 0;
        background-color: $silver-tint;
        color: $ash;
        padding: .5rem;
        outline: 0;
      }
    }

    .form-actions {
      display: inline;
      input[type="submit"] {
        text-indent: -9999em;
        background: url("img/search-icon.png");
        width: 40px;
        height: 40px;
        width: 2.5rem;
        height: 2.5rem;
        background-size: 24px 24px;
        background-size: 1.5rem 1.5rem;
        border: 0;
        background-repeat: no-repeat;
        background-position: 9px 7px;
        outline: 0;
      }
    }

    form {
      border: 1px solid $river-light;
      background-color: $silver-tint;
      color: $ash;
      width: 272px;
      width: 17rem;
      margin: 0 auto 24px;
      margin: 0 auto 1.5rem;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #header_site #search {
    width: 100%;
    float: none;
    clear: both;
  }
}

// ===============================
//  Site Identifier // Logo
// ===============================

#header_site {
  #site_identifier a {
    float: left;
    margin: 1.5rem 0;
    padding: 0;
    width: 100%;
    text-align: center;

    img {
      width: 80%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
    }
  }
  @media (min-width: $screen-sm-min) {
    #site_identifier a {
      float: left;
      margin: 2.5rem 0;
      padding: 0;
      width: auto;
      img {
        width: 100%;
      }
    }
  }
}

// ===============================
//  UA Banner
// ===============================

.arizona-logo {
  display: inline-block;
  height: 20px;
  margin: 19px 0 20px;
  max-width: 80%;
  float: left;
  width: 276px;
  padding: 0 0 0 .6rem;
}


// ===============================
//  UA Footer
// ===============================

#footer_site {
  background: $warm-gray;
  padding: 2.5rem 0;
  color: $silver-dark;
  #footer_logo img {
    height: auto;
    margin: 0 auto 1rem;
    max-width: 360px;
    width: 80%;
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 1rem 0 0;
    > li {
      border-right: 1px solid $cool-gray;
      display: inline-block;
      list-style: none;
      padding: 0 .75rem;
      &.last {
        border-right: 0;
      }
    }
  }
  a {
    color: $silver-dark;
    text-decoration: underline;
  }
  #footer_copyright {
   clear: both;
    float: left;
    width: 100%;
  }
  hr {
    background: transparent;
  }
  hr:before, hr:after {
    border-color: transparent;
    border-color: rgba(55, 55, 55, .09);
    width: 100%;
  }
}

@media (min-width: $screen-md-min) {
  #footer_site #footer_logo img {
    margin: 0;
  }
}

// ================================
//  responsive alignment classes
// ===============================

.text-left-not-xs,
.text-left-not-sm,
.text-left-not-md,
.text-left-not-lg {
  text-align: left;
}

.text-center-not-xs,
.text-center-not-sm,
.text-center-not-md,
.text-center-not-lg {
  text-align: center;
}

.text-right-not-xs,
.text-right-not-sm,
.text-right-not-md,
.text-right-not-lg {
  text-align: right;
}

.text-justify-not-xs,
.text-justify-not-sm,
.text-justify-not-md,
.text-justify-not-lg {
  text-align: justify;
}

@media (max-width: $screen-xs-max) {

  .text-left-not-xs,
  .text-center-not-xs,
  .text-right-not-xs,
  .text-justify-not-xs {
    text-align: inherit;
  }

  .text-left-xs {
    text-align: left;
  }

  .text-center-xs {
    text-align: center;
  }

  .text-right-xs {
    text-align: right;
  }

  .text-justify-xs {
    text-align: justify;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .text-left-not-sm,
  .text-center-not-sm,
  .text-right-not-sm,
  .text-justify-not-sm {
    text-align: inherit;
  }

  .text-left-sm {
    text-align: left;
  }

  .text-center-sm {
    text-align: center;
  }

  .text-right-sm {
    text-align: right;
  }

  .text-justify-sm {
    text-align: justify;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .text-left-not-md,
  .text-center-not-md,
  .text-right-not-md,
  .text-justify-not-md {
    text-align: inherit;
  }

  .text-left-md {
    text-align: left;
  }

  .text-center-md {
    text-align: center;
  }

  .text-right-md {
    text-align: right;
  }

  .text-justify-md {
    text-align: justify;
  }
}

@media (min-width: $screen-lg-min) {

  .text-left-not-lg,
  .text-center-not-lg,
  .text-right-not-lg,
  .text-justify-not-lg {
    text-align: inherit;
  }

  .text-left-lg {
    text-align: left;
  }

  .text-center-lg {
    text-align: center;
  }

  .text-right-lg {
    text-align: right;
  }

  .text-justify-lg {
    text-align: justify;
  }
}

.label-muted {
  color: $label-muted-color;
  @include label-variant($label-muted-bg);
}

// ================================
//  Row buffer
// ===============================
.bottom-buffer-xs-0 {
  margin-bottom: 0;
}

.bottom-buffer-1,
.bottom-buffer-xs-1 {
  margin-bottom: 1px;
}

.bottom-buffer-5,
.bottom-buffer-xs-5 {
  margin-bottom: 5px;
}

.bottom-buffer-10,
.bottom-buffer-xs-10 {
  margin-bottom: 10px;
}

.bottom-buffer-15,
.bottom-buffer-xs-15 {
  margin-bottom: 15px;
}

.bottom-buffer-20,
.bottom-buffer-xs-20 {
  margin-bottom: 20px;
}

.bottom-buffer-25,
.bottom-buffer-xs-25 {
  margin-bottom: 25px;
}

.bottom-buffer-30,
.bottom-buffer-xs-30 {
  margin-bottom: 30px;
}

.bottom-buffer-50,
.bottom-buffer-xs-50 {
  margin-bottom: 50px;
}

@media (min-width: $screen-sm-min) {
  .bottom-buffer-sm-reset,
  .bottom-buffer-sm-0 {
    margin-bottom: 0;
  }

  .bottom-buffer-sm-1 {
    margin-bottom: 1px;
  }

  .bottom-buffer-sm-5 {
    margin-bottom: 5px;
  }

  .bottom-buffer-sm-10 {
    margin-bottom: 10px;
  }

  .bottom-buffer-sm-15 {
    margin-bottom: 15px;
  }

  .bottom-buffer-sm-20 {
    margin-bottom: 20px;
  }

  .bottom-buffer-sm-25 {
    margin-bottom: 25px;
  }

  .bottom-buffer-sm-30 {
    margin-bottom: 30px;
  }

  .bottom-buffer-sm-50 {
    margin-bottom: 50px;
  }
}

@media (min-width: $screen-md-min) {
  .bottom-buffer-md-reset,
  .bottom-buffer-md-0 {
    margin-bottom: 0;
  }

  .bottom-buffer-md-1 {
    margin-bottom: 1px;
  }

  .bottom-buffer-md-5 {
    margin-bottom: 5px;
  }

  .bottom-buffer-md-10 {
    margin-bottom: 10px;
  }

  .bottom-buffer-md-15 {
    margin-bottom: 15px;
  }

  .bottom-buffer-md-20 {
    margin-bottom: 20px;
  }

  .bottom-buffer-md-25 {
    margin-bottom: 25px;
  }

  .bottom-buffer-md-30 {
    margin-bottom: 30px;
  }

  .bottom-buffer-md-50 {
    margin-bottom: 50px;
  }
}

@media (min-width: $screen-lg-min) {
  .bottom-buffer-lg-reset,
  .bottom-buffer-lg-0 {
    margin-bottom: 0;
  }

  .bottom-buffer-lg-1 {
    margin-bottom: 1px;
  }

  .bottom-buffer-lg-5 {
    margin-bottom: 5px;
  }

  .bottom-buffer-lg-10 {
    margin-bottom: 10px;
  }

  .bottom-buffer-lg-15 {
    margin-bottom: 15px;
  }

  .bottom-buffer-lg-20 {
    margin-bottom: 20px;
  }

  .bottom-buffer-lg-25 {
    margin-bottom: 25px;
  }

  .bottom-buffer-lg-30 {
    margin-bottom: 30px;
  }

  .bottom-buffer-lg-50 {
    margin-bottom: 50px;
  }
}

.top-buffer-xs-0 {
  margin-top: 0;
}

.top-buffer-xs-1 {
  margin-top: 1px;
}

.top-buffer-xs-5 {
  margin-top: 5px;
}

.top-buffer-xs-10 {
  margin-top: 10px;
}

.top-buffer-xs-15 {
  margin-top: 15px;
}

.top-buffer-xs-20 {
  margin-top: 20px;
}

.top-buffer-xs-25 {
  margin-top: 25px;
}

.top-buffer-xs-30 {
  margin-top: 30px;
}

.top-buffer-xs-50 {
  margin-top: 50px;
}

@media (min-width: $screen-sm-min) {
  .top-buffer-sm-reset,
  .top-buffer-sm-0 {
    margin-top: 0;
  }

  .top-buffer-sm-1 {
    margin-top: 1px;
  }

  .top-buffer-sm-5 {
    margin-top: 5px;
  }

  .top-buffer-sm-10 {
    margin-top: 10px;
  }

  .top-buffer-sm-15 {
    margin-top: 15px;
  }

  .top-buffer-sm-20 {
    margin-top: 20px;
  }

  .top-buffer-sm-25 {
    margin-top: 25px;
  }

  .top-buffer-sm-30 {
    margin-top: 30px;
  }

  .top-buffer-sm-50 {
    margin-top: 50px;
  }
}

@media (min-width: $screen-md-min) {
  .top-buffer-md-reset,
  .top-buffer-md-0 {
    margin-top: 0;
  }

  .top-buffer-md-1 {
    margin-top: 1px;
  }

  .top-buffer-md-5 {
    margin-top: 5px;
  }

  .top-buffer-md-10 {
    margin-top: 10px;
  }

  .top-buffer-md-15 {
    margin-top: 15px;
  }

  .top-buffer-md-20 {
    margin-top: 20px;
  }

  .top-buffer-md-25 {
    margin-top: 25px;
  }

  .top-buffer-md-30 {
    margin-top: 30px;
  }

  .top-buffer-md-50 {
    margin-top: 50px;
  }
}

@media (min-width: $screen-lg-min) {
  .top-buffer-lg-reset,
  .top-buffer-lg-0 {
    margin-top: 0;
  }

  .top-buffer-lg-1 {
    margin-top: 1px;
  }

  .top-buffer-lg-5 {
    margin-top: 5px;
  }

  .top-buffer-lg-10 {
    margin-top: 10px;
  }

  .top-buffer-lg-15 {
    margin-top: 15px;
  }

  .top-buffer-lg-20 {
    margin-top: 20px;
  }

  .top-buffer-lg-25 {
    margin-top: 25px;
  }

  .top-buffer-lg-30 {
    margin-top: 30px;
  }

  .top-buffer-lg-50 {
    margin-top: 50px;
  }
}


// ================================
//  Right/left buffer
// ===============================
.right-buffer-xs-0 {
  padding-right: 0;
}

.right-buffer-xs-1 {
  padding-right: 1px;
}

.right-buffer-xs-5 {
  padding-right: 5px;
}

.right-buffer-xs-10 {
  padding-right: 10px;
}

.right-buffer-xs-15 {
  padding-right: 15px;
}

.right-buffer-xs-20 {
  padding-right: 20px;
}

.right-buffer-xs-30 {
  padding-right: 30px;
}

.left-buffer-xs-0 {
  padding-left: 0;
}

.left-buffer-xs-1 {
  padding-left: 1px;
}

.left-buffer-xs-5 {
  padding-left: 5px;
}

.left-buffer-xs-10 {
  padding-left: 10px;
}

.left-buffer-xs-15 {
  padding-left: 15px;
}

.left-buffer-xs-20 {
  padding-left: 20px;
}

.left-buffer-xs-30 {
  padding-left: 30px;
}

@media (min-width: $screen-sm-min) {
  .right-buffer-sm-0 {
    padding-right: 0;
  }

  .right-buffer-sm-1 {
    padding-right: 1px;
  }

  .right-buffer-sm-5 {
    padding-right: 5px;
  }

  .right-buffer-sm-10 {
    padding-right: 10px;
  }

  .right-buffer-sm-reset {
    padding-right: 16px;
  }

  .right-buffer-sm-15 {
    padding-right: 15px;
  }

  .right-buffer-sm-20 {
    padding-right: 20px;
  }

  .right-buffer-sm-30 {
    padding-right: 30px;
  }

  .left-buffer-sm-0 {
    padding-left: 0;
  }

  .left-buffer-sm-1 {
    padding-left: 1px;
  }

  .left-buffer-sm-5 {
    padding-left: 5px;
  }

  .left-buffer-sm-10 {
    padding-left: 10px;
  }

  .left-buffer-sm-15 {
    padding-left: 15px;
  }

  .left-buffer-sm-reset {
    padding-left: 16px;
  }

  .left-buffer-sm-20 {
    padding-left: 20px;
  }

  .left-buffer-sm-30 {
    padding-left: 30px;
  }
}

@media (min-width: $screen-md-min) {
  .right-buffer-md-0 {
    padding-right: 0;
  }

  .right-buffer-md-1 {
    padding-right: 1px;
  }

  .right-buffer-md-5 {
    padding-right: 5px;
  }

  .right-buffer-md-10 {
    padding-right: 10px;
  }

  .right-buffer-md-15 {
    padding-right: 15px;
  }

  .right-buffer-md-reset {
    padding-right: 16px;
  }

  .right-buffer-md-20 {
    padding-right: 20px;
  }

  .right-buffer-md-30 {
    padding-right: 30px;
  }

  .left-buffer-md-0 {
    padding-left: 0;
  }

  .left-buffer-md-1 {
    padding-left: 1px;
  }

  .left-buffer-md-5 {
    padding-left: 5px;
  }

  .left-buffer-md-10 {
    padding-left: 10px;
  }

  .left-buffer-md-15 {
    padding-left: 15px;
  }

  .left-buffer-md-reset {
    padding-left: 16px;
  }

  .left-buffer-md-20 {
    padding-left: 20px;
  }

  .left-buffer-md-30 {
    padding-left: 30px;
  }
}

@media (min-width: $screen-lg-min) {
  .right-buffer-lg-0 {
    padding-right: 0;
  }

  .right-buffer-lg-1 {
    padding-right: 1px;
  }

  .right-buffer-lg-5 {
    padding-right: 5px;
  }

  .right-buffer-lg-10 {
    padding-right: 10px;
  }

  .right-buffer-lg-15 {
    padding-right: 15px;
  }

  .right-buffer-lg-reset {
    padding-right: 16px;
  }

  .right-buffer-lg-20 {
    padding-right: 20px;
  }

  .right-buffer-lg-30 {
    padding-right: 30px;
  }

  .left-buffer-lg-0 {
    padding-left: 0;
  }

  .left-buffer-lg-1 {
    padding-left: 1px;
  }

  .left-buffer-lg-5 {
    padding-left: 5px;
  }

  .left-buffer-lg-10 {
    padding-left: 10px;
  }

  .left-buffer-lg-15 {
    padding-left: 15px;
  }

  .left-buffer-lg-reset {
    padding-left: 16px;
  }

  .left-buffer-lg-20 {
    padding-left: 20px;
  }

  .left-buffer-lg-30 {
    padding-left: 30px;
  }
}
// ================================
//  Squares
// ===============================
.square {
    position: relative;
    overflow:hidden;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-content {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.square-vertical-align-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.square-padding {
  padding: 1em;
}

.square-realign-to-grid {
  margin-left: 16px;
}

// @import "bootstrap/grid";
// ================================
// Sticky Footer (Legacy)
// Wrap page elements in the following classes.
// ================================
html.lte-ie9 {
  &.sticky-footer {
    height: 100%;
    body {
      height: 100%;
      display: table;
      width: 100%;
      margin: 0;
    }
    .page-row {
      display: table-row;
      min-height: 1px;
    }
    .page-row-expanded {
      height: 100%;
    }
    .page-row-padding-top:before, .page-row-padding-bottom:after {
      content: '';
      height: 1em;
      display: block;
    }
  }
}

// ================================
// Sticky Footer
// Wrap page elements in the following classes
// ================================
html.sticky-footer {
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
  }

  .page-row {
    flex: none;
  }

  .page-row-expanded {
    flex: 1 0 auto;
    width: 100%;
  }
}

// ================================
// Remove default spacing
// ===============================

.no-line-height {
  line-height: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-gutter {
  padding-left: 0 !important;
}

.row.realign-no-gutter {
  margin-left: 0;
}

.container.d-flex:before,
.container.d-flex:after,
.row.d-flex:before,
.row.d-flex:after {
    content: normal;
}
