// Bootstrap core CSS
link(href='https://cdn.digital.arizona.edu/lib/ua-brand-icons/v2.0.1/ua-brand-icons.min.css', rel='stylesheet')
link(href='lib/ua-bootstrap.css', rel='stylesheet')
link(href='css/docs.css', rel='stylesheet')

// HighlightJS
link(rel='stylesheet', href='css/googlecode.css')
script(src='js/highlight.pack.min.js')

link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
link(rel='icon', href='img/favicon.png', type='image/x-icon')
